/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
cerevoice/
*~
*#
*.log
creds.edn
/resources/watson_voice_cache/*
/resources/meditation.edn
/libs
speech-to-text.wav
*.edn
**.edn
#*
.#*
/resources/tests/
project_bak.org
