{"Collin. It is time to wake up." true, "You have 1 events today. " true, "You have 1 events today. Do 25 pushups at 11:30 " true, "You have 2 events today. Do 25 pushups at 11:30 , and Submit Kickstarter at 2:00 " true}