{"hello. how are you?" true, "Hi. I am dagney" true, "Hello. I am dagney" true, "Hello. My name is dagney" true, "Hello. My name is dagney taggart" true, "Hello. I am dagney taggart" true, "Hello. I am dagney taggart 2" true, "Hello. I am dagney taggart as well" true}