{:client-id "422996540710-jrg9oc5md5p5scrqpmoo1ae7o57b1uk9.apps.googleusercontent.com"
 :client-secret "9_ebE99ydgippaHMoEeu_7Kt"
 :redirect-uris ["localhost"]
 :auth-map
 {:access-token "ya29.Ci9SA23x8w8cfvf5EO9kQwM8oZwNy8lyAJ04Thl6F0IkSHk6vNJzZ6VFBb_Q7WFPgw"
  :expires-in 3600
  :refresh-token "1/PQF4gFaFwCZLK8TxPw_kPO7lcPkuMygxY1D_SihvvxM"
  :token-type "Bearer"}}


















